footer{
  background-color: #3a3838;
  color: #fff;
  max-width: 100%;
  padding: 16px 160px;
}

.footer-container{
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 20px;
}

.redes p,
.contato p,
.localizacao p{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.redes li,
.contato li{
  margin-bottom: 6px;
}

.dev{
  background-color: black;
  display: block;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.dev::before{
  background-color: #fff;
  width: 100px;
  position: relative;
}

.copy{
  text-align: center;
}

.mapa{
  height: 180px;
  border-radius: 4px;
  width: auto;
}
